.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}


.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}/*Se o botão container__botao, estiver cheked, que é uma peseudo, com o ~ que é o chamado combinador css, vai procurar o outro elemento que vem em seguida .lista-menu e muda para display block, que antes estava none, esse caso é o mais perto que chegamos perto de uma condicional css */

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /*Primeiro colocamos o degrade, só que ele não aplica na fonte, então aquele background-clip: text; vai prender aquela cor do background só aonde tem texto e aqueles webkits é para funcionar em outros  tipos de navegador*/
    text-transform: uppercase;
}

.container__botao {
    display: none;
} /*E aqui tiramos a caixinha do checkbox*/

/*Alteração por conta do media screen*/

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}



.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url("../img/Menu\ Aberto.svg");
    padding: 1.43em 1em;
}/*Mudando o menu hamburguer para branco quando clica nele*/

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
} /*Mudando fundo de branco para azul degrade quando cloca no hamburguer*/


@media screen and (min-width:1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    } /*Menu no tablet*/

    .opcoes__botao {
        display: none;
    } 


    .opcoes__botao:checked~.opcoes__rotulo> .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco); /*Teve que usar este porque lá no inicio do projeto para colocar esta cor azul-degrade na fonte, tivemos que colocar um background e depois associar ele a fonte e quando defimos webkit-text-fill-color definimos como transparente, então ele não aplicava cor nenhuma, além daquele background que estava aplicado*/
        text-decoration: none;
    }
}

@media screen and (min-width:1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto; /*Quando usamos o flex, quando colocamos uma margin left, right, bottom... Se colocarmos o valor auto, ele vai tentar preencher todo o espaço que está sobrando, no caso ele preencheu todo espaço da direita com a margin, então todos os itens foram empurrados para a esquerda */
    }

    .container__texto {
        display: block;
    }
}
    
