.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}/*Se o botão container__botao, estiver cheked, que é uma peseudo, com o ~ que é o chamado combinador css, vai procurar o outro elemento que vem em seguida .lista-menu e muda para display block, que antes estava none, esse caso é o mais perto que chegamos perto de uma condicional css */

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /*Primeiro colocamos o degrade, só que ele não aplica na fonte, então aquele background-clip: text; vai prender aquela cor do background só aonde tem texto e aqueles webkits é para funcionar em outros  tipos de navegador*/
    text-transform: uppercase;
}

.container__botao {
    display: none;
} /*E aqui tiramos a caixinha do checkbox*/


    
    
